.create-form {
    width: 100%;
    height: calc(100vh - var(--titlebar-height));
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-20px);
}

.create-button, .custom-query  {
    border: 1px solid var(--bd);
    padding: 10px;
    height: 40px;
    width: 250px;
}

.custom-query {
    padding: 0;
    border: 1px solid white;
    border-radius: calc(var(--br) / 2);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.custom-query-text {
    padding: 0;
    width: 80%;
    color: var(--cl);  
}