* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  outline: none;
  animation: fadein 0.3s;
}

body {
  background: #373737;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: auto;


  
}

form {
  display: flex;
  flex-direction: column;
  transform: translateY(25px);
}

input[type=text], button, select {
  height: 50px;
  width: 400px;
  padding: 7.5px;
  border-radius: 10px;
  background-color: white;
  cursor: auto;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
button {
  cursor: pointer;
}

select {
  cursor: default;
  margin-top: 5px;
  margin-bottom: 5px;
}

.titlebar {
  height: 50px;
  background: #373737;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 7.5px;
  border-bottom: 1px solid white;
  
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 200ms;
  cursor: pointer; }

.titlebar-button:hover {
  opacity: 0.5;
}

.titlebar :nth-child(1) {
  position: absolute;
  left: 10px;
  user-select: none;

}

.titlebar :nth-child(2) {
  background-color: #00CA4E;

}
.titlebar :nth-child(3) {
  background-color: #FFBD44;

}
.titlebar :nth-child(4) {
  background-color: #FF605C;
  margin-right: 10px;

}

#projectJsBool {
  height: 50px;
  width: 50px;

}

.javascript {
  display: flex;
  align-items: center;
  gap: 10px;
}

label {
  font-size: 22px;
}

#reconfig {
  width: 30px;
  position: absolute;
  top: 60px;
  left: 10px;
}

#reconfig:hover {
  animation: rotate 2.5s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

